body {
    margin: 0px;
    padding: 0px;
    background-color: #F7FAF9;
}

a {
    text-decoration: none;
}

li {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-bottom: -15px;
}


.nav-button {
    padding-right: 35px;
    color: #5F5D5D;
    font-family: 'Inter', sans-serif;
}

.nav-buttona {
    padding-right: 35px;
    color: #322F2F;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}


.nav-logo {
    padding-right: 35px;
}

.navigation {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}


.signup {
    padding: 11px;
    
    background: #90CAA1;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.login {
    padding: 9px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #322F2F;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #322F2F
    ;
}

.item {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

/* Main Body Box */


/* Main Body Box  */

/*  Top Section */

.top-section {
    padding: 15px;
}

/*Slider*/

.slider {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 300px;
    display: flex;
    overflow-x: auto;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: unset;
  }
  .slide {
    flex-shrink: 0;

    width: 24%;
    height: 90%;
    left: 50px;
    top: 149px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  .slide-a {
    flex-shrink: 0;

    width: 24%;
    height: 90%;
    left: 50px;
    top: 149px;

    background: #A5D7A2;
    background-image: url(../images/elements/tilebg.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  /*Slider*/

/*  Top Section  */

.top-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* Main Section Box */


/* Main Section Box  */


/* Side Navigation */

.side-nav-items{
    padding: 15px;
}


/* Side Navigation */